<%= form_tag '/paws', method: :post do %>
  <section id="content-region-3" class="padding-40 page-tree-bg">
            <div class="container">
                <h3 class="page-tree-text">Add a Pet
                    
                </h3>
            </div>
        </section><!--page-tree end here-->
        <div class="space-70"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="my-login-form">
                         <form>
                        <h4 class="heading-mini">New Pet</h4><hr>
                        <div class="row">
                            <div class="col-md-6 margin-btm-20">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                             <div class="col-md-6 margin-btm-20">
                                <input type="email" class="form-control" placeholder="Descrition">
                            </div>
                             <div class="col-md-6 margin-btm-20">
                                <input type="password" class="form-control" placeholder="Gender">
                            </div>
                             <div class="col-md-6 margin-btm-20">
                                <input type="password" class="form-control" placeholder="Color">
                            </div>
                            <div class="col-md-6 margin-btm-20">
                                <input type="password" class="form-control" placeholder="Weight">
                            </div>
                            <div class="col-md-6 margin-btm-20">
                                <input type="password" class="form-control" placeholder="Age">
                            </div>
                            <div class="col-md-6 margin-btm-20">
                                <input type="password" class="form-control" placeholder="Special Needs">
                            </div>
                            <div class="col-md-6 margin-btm-20">
                                <input type="password" class="form-control" placeholder="Energy Level">
                            </div>
                            <div class="col-md-6 margin-btm-20">
                                <input type="password" class="form-control" placeholder="Needs a Yard">
                            </div>
                            <div class="col-md-6 margin-btm-20">
                                <input type="password" class="form-control" placeholder="Kids Ok">
                            </div>
                            <div class="col-md-6 margin-btm-20">
                                <input type="password" class="form-control" placeholder="Fees">
                            </div>
                            <div class="col-md-6 margin-btm-20">
                                <input type="password" class="form-control" placeholder="Location">
                            </div>
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn theme-btn-color">Submit</button>
                            </div>

                        </div>
                        <hr>
                        <div class="form-btm-link text-center">
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <%= render 'form' %>
        <% end %>