<%= form_tag "/users/#{@user.id}", method: :patch do %>
  <section id="content-region-3" class="padding-40 page-tree-bg">
            <div class="container">
                <h3 class="page-tree-text">Register</h3>
            </div>
        </section><!--page-tree end here-->
        <div class="space-70"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="my-login-form">
                         <form>
                        <h4 class="heading-mini">Your Info</h4><hr>
                        <div class="row">
                            <div class="col-md-6 margin-btm-20">
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                             <div class="col-md-6 margin-btm-20">
                                <input type="email" class="form-control" placeholder="Last Name">
                            </div>
                             <div class="col-md-6 margin-btm-20">
                                <input type="password" class="form-control" placeholder="Street Address">
                            </div>
                             <div class="col-md-6 margin-btm-20">
                                <input type="password" class="form-control" placeholder="City">
                            </div>
                            <div class="col-md-6 margin-btm-20">
                                <input type="password" class="form-control" placeholder="State">
                            </div>
                            <div class="col-md-6 margin-btm-20">
                                <input type="password" class="form-control" placeholder="Zip">
                            </div>
                            <div class="col-md-6 margin-btm-20">
                                <input type="password" class="form-control" placeholder="Phone Number">
                            </div>
                            <div class="col-md-6 margin-btm-20">
                                <input type="password" class="form-control" placeholder="Gender">
                            </div>
                            <div class="col-md-6 margin-btm-20">
                                <input type="password" class="form-control" placeholder="Needs a Yard">
                            </div>
                            <div class="col-md-6 margin-btm-20">
                                <input type="password" class="form-control" placeholder="Have a yard?">
                            </div>
                            <div class="col-md-6 margin-btm-20">
                                <input type="password" class="form-control" placeholder="Have Kids?">
                            </div>
                            <div class="col-md-6 margin-btm-20">
                                <input type="password" class="form-control" placeholder="Employed?">
                            </div>
                            <div class="col-md-6 margin-btm-20">
                                <input type="password" class="form-control" placeholder="Retired?">
                            </div>
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn theme-btn-color">Submit</button>
                            </div>

                        </div>
                        <hr>
                        <div class="form-btm-link text-center">
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
       
        <% end %>

















