 <h3 class="page-tree-text">
                    Create new account
                </h3>
            </div>
        </section>
        <form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="Yb4tffAf9tcBF63xb9H0qq86dIJKWX1IYJZ7ET9Rt9VlfxA57W1Lfb6Df0AFJ4FFpGaCAtFqn80Vj2zbBxG8/g==" /><!--page-tree end here-->
        <div class="space-70"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="my-login-form">
                         <form>
                        <h4 class="heading-mini">Sign up</h4><hr>
                        <div class="row">
                            <div class="col-md-6 margin-btm-20">
                                <input autofocus="autofocus" type="email" class="form-control" value="" name="user[email]" id="user_email" placeholder="Email..">
                            </div>
                             <div class="col-md-6 margin-btm-20">
                                <input type="email" class="form-control" placeholder="Email..">
                            </div>
                             <div class="col-md-6 margin-btm-20">
                                <input autocomplete="off" type="password" class="form-control" name="user[password]" id="user_password" placeholder="Password.">
                            </div>
                             <div class="col-md-6 margin-btm-20">
                                <input autocomplete="off" type="password" name="user[password_confirmation]" id="user_password_confirmation" class="form-control" placeholder="Repeat password..">
                            </div>
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn theme-btn-color" name="commit" Sign up</button>
                            </div>
                        </div>
                        <hr>
                        <div class="form-btm-link text-center">
                         <a href="signup.html">Already have an account? </a>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>